<div class="page-banner-area bg-20 pt-100">
  <div class="container">
    <div class="page-banner-content">
      <h2>Blog Details</h2>
      <ul>
        <li>
          <a href="index.html">
            <i class="ri-home-8-line"></i>
            Home
          </a>
        </li>
        <li>
          <span>Blog Details</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="blog-details-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-details-content">
          <img src="assets/images/blog/blog-1.jpg" class="blog-post-img" alt="Image">
          <span class="tag">Special</span>
          <ul>
            <li>
              <i class="ri-user-3-line"></i>
              <a routerLink="/blogs/details">Jonathan</a>
            </li>
            <li>
              <i class="ri-calendar-line"></i>
              15 May, 2022
            </li>
            <li>
              <i class="ri-chat-3-line"></i>
              <a routerLink="/blogs/details">No comment</a>
            </li>
          </ul>

          <h2>How to live a healthy life without pain or disease</h2>
          <p>Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
            nibh. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh. Praesent sapien
            massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum
            sed sit amet dui.</p>
          <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta.
            Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec sollicitudin
            molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur
            aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit.</p>

          <blockquote>
            <img src="assets/images/icon/icon-11.svg" alt="Image">
            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id
              imperdiet et, porttitor at sem. Pellentesque in ipsum id orci porta dapibus.</p>
            <span>Diane Garcia</span>
          </blockquote>

          <p>Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Cras
            ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
            Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,
            ullamcorper sit amet ligula.</p>

          <div class="tag-social d-flex justify-content-between align-items-center">
            <ul class="tags">
              <li>
                <span>Tags:</span>
              </li>
              <li>
                <a href="hospital.html">Hospital,</a>
              </li>
              <li>
                <a href="department.html">Medical,</a>
              </li>
              <li>
                <a href="find-a-doctor.html">Doctor</a>
              </li>
            </ul>

            <ul class="socila-link">
              <li>
                <span>Share:</span>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <img src="assets/images/svg-icon/facebook.svg" alt="Image">
                </a>
              </li>
              <li>
                <a href="https://www.twitter.com/" target="_blank">
                  <img src="assets/images/svg-icon/twitter.svg" alt="Image">
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/" target="_blank">
                  <img src="assets/images/svg-icon/linkedin.svg" alt="Image">
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <img src="assets/images/svg-icon/instagram.svg" alt="Image">
                </a>
              </li>
            </ul>
          </div>
 

          <div class="leave-from">
            <h3>Leave a comment</h3>

            <form>
              <div class="form-group">
                <label>FIRST NAME</label>
                <input type="text" class="form-control" placeholder="Edgar">
              </div>
              <div class="form-group">
                <label>EMAIL</label>
                <input type="text" class="form-control" placeholder="info@meditro.com">
              </div>
              <div class="form-group">
                <label>YOUR WEBSITE LINK</label>
                <input type="text" class="form-control" placeholder="www.meditro.com">
              </div>
              <div class="form-group">
                <label>MESSAGE</label>
                <textarea class="form-control" cols="30" rows="6"></textarea>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Save my name, email, and website in this browser for the next time I comment.
                  </label>
                </div>
              </div>

              <button type="submit" class="default-btn">
                Post a comment
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="sidebar-wrap ml-15">
          <div class="sidebar-widget">
            <form class="src-form">
              <input type="text" class="form-control" placeholder="Search...">
              <button class="src-btn">
                <i class="bi bi-search"></i>
              </button>
            </form>
          </div>

          <div class="sidebar-widget departments">
            <h3>Categories</h3>

            <ul>
              <li>
                <a href="blog.html">
                  Orthopedics
                  <i class="ri-arrow-right-s-line"></i>
                </a>
              </li>
              <li>
                <a href="blog.html">
                  Dental
                  <i class="ri-arrow-right-s-line"></i>
                </a>
              </li>
              <li>
                <a href="blog.html">
                  Neurosciences
                  <i class="ri-arrow-right-s-line"></i>
                </a>
              </li>
              <li>
                <a href="blog.html">
                  Cancer Care
                  <i class="ri-arrow-right-s-line"></i>
                </a>
              </li>
              <li>
                <a href="blog.html">
                  Gastroenterology
                  <i class="ri-arrow-right-s-line"></i>
                </a>
              </li>
              <li>
                <a href="blog.html">
                  Medicine
                  <i class="ri-arrow-right-s-line"></i>
                </a>
              </li>
              <li>
                <a href="blog.html">
                  Cardiology
                  <i class="ri-arrow-right-s-line"></i>
                </a>
              </li>
              <li>
                <a href="blog.html">
                  Surgery
                  <i class="ri-arrow-right-s-line"></i>
                </a>
              </li>
              <li>
                <a href="blog.html">
                  ENT
                  <i class="ri-arrow-right-s-line"></i>
                </a>
              </li>
              <li>
                <a href="blog.html">
                  Physiotherapy
                  <i class="ri-arrow-right-s-line"></i>
                </a>
              </li>
              <li>
                <a href="blog.html">
                  Dermatology
                  <i class="ri-arrow-right-s-line"></i>
                </a>
              </li>
            </ul>
          </div>

          <div class="sidebar-widget recent-post">
            <h3>Recent Posts</h3>

            <div class="recent-post-wrap">
              <article class="item">
                <a routerLink="/blogs/details" class="thumb">
                  <span class="fullimage cover bg-1" role="img"></span>
                </a>
                <div class="info">
                  <h4 class="title usmall">
                    <a routerLink="/blogs/details">How to live a healthy life without pain or disease</a>
                  </h4>
                  <span class="date">
                    <i class="ri-calendar-2-fill"></i>
                    Jan 15, 2022
                  </span>
                </div>
              </article>

              <article class="item">
                <a routerLink="/blogs/details" class="thumb">
                  <span class="fullimage cover bg-2" role="img"></span>
                </a>
                <div class="info">
                  <h4 class="title usmall">
                    <a routerLink="/blogs/details">Why would I give up all bad habits to stay good</a>
                  </h4>
                  <span class="date">
                    <i class="ri-calendar-2-fill"></i>
                    24 Dec, 2021
                  </span>
                </div>
              </article>

              <article class="item">
                <a routerLink="/blogs/details" class="thumb">
                  <span class="fullimage cover bg-3" role="img"></span>
                </a>
                <div class="info">
                  <h4 class="title usmall">
                    <a routerLink="/blogs/details">Everyone's home must have a first aid kit</a>
                  </h4>
                  <span class="date">
                    <i class="ri-calendar-2-fill"></i>
                    Jan 15, 2022
                  </span>
                </div>
              </article>
            </div>
          </div>

          <div class="sidebar-widget tags">
            <h3>Tag</h3>

            <ul>
              <li>
                <a routerLink="/blogs/details">
                  Hospital
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  Medical
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  Doctor
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  Treatment
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  Orthopedics
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  Dental
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  Neurosciences
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  Cancer Care
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  Gastroenterology
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  meditro
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  Medicine
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  Surgery
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  ENT
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  Pediatrics
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  Physiotherapy
                </a>
              </li>
              <li>
                <a routerLink="/blogs/details">
                  Appointment
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>