<div class="page-banner-area bg-5 pt-100">
  <div class="container">
    <div class="page-banner-content">
      <h2> Patient Care</h2>
      <ul>
        <li>
          <a routerLink="/">
            <i class="ri-home-8-line"></i>
            Home
          </a>
        </li>
        <li>
          <span>Patient Care</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="tab product-details-tab mt-0">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="patients-rights-tab" data-bs-toggle="tab" data-bs-target="#patients-rights"
        type="button" role="tab" aria-controls="patients-rights" aria-selected="false" tabindex="-1">Patients
        Rights</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="patients-responsibilities-tab" data-bs-toggle="tab"
        data-bs-target="#patients-responsibilities" type="button" role="tab" aria-controls="patients-responsibilities"
        aria-selected="true">Patients Responsibilities</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active show" id="patients-rights" role="tabpanel" aria-labelledby="patients-rights-tab">
      <div class="text-center mb-4">
        <img src="assets/images/jpg/patient-rights-pic-1.jpg" alt="" srcset="">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <ul>
              <li>All patients have the right to considerate and respectful care at all times by competent personnel.
                The
                patient has the right to privacy during examinations, assessments, procedures and treatment.<br><br>
              </li>
              <li>The patient has the right to obtain from the physician, sufficient information concerning diagnosis,
                treatment and prognosis, changes in his/her condition and the causes of such changes, in terms the
                patient can
                be reasonably expected to understand.<br><br></li>
              <li>The patient has the right to know, by name, the physician responsible for authorizing and performing
                procedures or treatment.<br><br></li>
              <li>The patient has the right to receive information from the physician that is necessary to give informed
                consent prior to the start of a medical procedure and/or treatment. Information for informed consent
                should
                include a description of the specific procedure and/or treatment, risks involved, alternatives, the
                expectations for a successful outcome, and the probable duration of incapacitation.<br><br></li>
              <li>The patient has the right to full disclosure of health services cost and information related to all
                services
                provided by the hospital.<br><br></li>
              <li>The patient has the right to request and receive an itemized bill explaining all of the costs and
                charges
                regardless of the source of payment.<br><br></li>
              <li>The patient has the right to know what hospital rules and regulations apply to patient.<br><br></li>
              <li>The administration of the hospital, the medical staff and all other members of staff are committed to
                treating and acting on patient concerns and complaints in a fair manner. Complaints and suggestions on
                services can be submitted in writing through.<br><br></li>
              <li>The patient has the right to have all records pertaining to the medical care treated as confidential
                except
                as otherwise required by law or upon the patient’s written authorization.<br><br></li>
              <li>The patient has the right to obtain a medical report and a copy of the medical test results from the
                Medical
                Records Department upon request and written authorization by the patient.<br><br></li>
              <li>The patient has the right to assistance in obtaining consultation or second opinion with another
                physician
                at the patient’s own request and expense.<br><br></li>
              <li>The patient has the right to appropriate assessment and management of pain. The patient’s right to
                pain
                management is respected and supported. Your physician and nurse will assess your pain and involve you in
                decisions about pain relief measures to minimize your pain.<br><br></li>
              <li>The patient has the right to refuse treatment for any or all of the care offered. When refusal of
                treatment
                prevents the provisions of appropriate care in accordance with ethical and professional standards, the
                potential consequences are explained to the patient and the relationship with the patient may be
                terminated.<br><br></li>
              <li>The patient has the right to refuse examination or follow-up of their treatment details by any person
                not
                directly responsible for their care. Persons who are not directly involved in the patient’s treatment
                will
                obtain permission to attend the case discussion, examination and/or treatment.<br><br></li>
              <li>The hospital is committed to provide terminally ill and dying patients with decent and compassionate
                care
                respecting their unique needs, according to the Local Law and Regulations.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="patients-responsibilities" role="tabpanel"
      aria-labelledby="patients-responsibilities-tab">
      <div class="text-center mb-4">
        <img src="assets/images/jpg/patient-responsbi-ity-pic-2.jpg" alt="" srcset="">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <ul>
              <li>It is anticipated that patients will follow the treatment plan recommended by the physician
                responsible for
                their care.<br><br></li>
              <li>Patients are responsible for the consequences if they refuse treatment or do not follow the
                physician’s
                instructions.<br><br></li>
              <li>Patients are expected to ensure that the financial obligations for their healthcare are met.<br><br>
              </li>
              <li>Patients are expected to follow hospital regulations, policies and requirements affecting their care
                and
                conduct.<br><br></li>
              <li>Patients should be considerate of the rights, privacy and comfort of other patients and hospital
                personnel
                and property. They are asked to assist in control of noise and limit the number of visitors. In special
                circumstances, visitations may be inadvisable on a temporary basis.<br><br></li>
              <li>The patient is expected to provide complete and accurate information about past illnesses, medication,
                allergies and other matters (including providing medical reports) relating to their health history that
                need
                to be known by those involved in the patient treatment.<br><br></li>
              <li>The patient is expected to respect the priority given to emergency patients and to show consideration
                to
                other patients.<br><br></li>
              <li>The patient is expected to secure appointments as per the recommendations made by the physician as per
                the
                time frame and to attend the appointment on time.<br><br></li>
              <li>The patient will take full responsibility in the event of refusing of test studies, examinations,
                follow up
                appointments, admissions and /or treatment.<br><br></li>
              <li>The patient and his/her family and visitors will observe and adhere to the safety regulations of the
                hospital which include:</li>
              <ul>
                <li>No smoking policy</li>
                <li>Hand Hygiene</li>
                <li>Fire &amp; Safety Plan</li>
                <li>Non-interference in any medical equipment and patient care activities</li>
                <li>Only patients and/or authorized “sitters” will be allowed to consume food in the patient’s room</li>
                <li>All visitors will be asked to present to the Reception Areas in order to be issued a visitor badge
                </li>
                <li>No Children under the age of 14 years can visit the ICU/CICU without prior approval from the nurse
                  in
                  Charge</li>
                <li>Children are to be supervised by adults during visits to both Inpatient and Outpatient areas at all
                  times<br><br></li>
              </ul>
              <li>The patient and his/her family and visitors will avoid bringing valuable belongings to the hospital
                and in
                the event of emergency situations, will inform the admission staff about the valuables and ensure that
                it is
                handed in as per the hospital policy. The hospital is not responsible for any consequences resulting
                from
                non-adherence to this requirement.</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
