.header {
    -webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
}

.top-header {
    // background-color: #fff;
    // a {
    //     color: #fff;
    // }
}

.dropdown-menu .dropdown-body {
    overflow: auto;
}