<div class="page-banner-area bg-5 pt-100">
  <div class="container">
    <div class="page-banner-content">
      <h2>Blog</h2>
      <ul>
        <li>
          <a href="index.html">
            <i class="ri-home-8-line"></i>
            Home
          </a>
        </li>
        <li>
          <span>Blog</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="blog-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span class="top-title">BLOG POST</span>
      <h2>See our latest blog post</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-blog">
          <a routerLink="/blogs/details">
            <img src="assets/images/blog/blog-1.jpg" alt="Image">
          </a>

          <div class="blog-content">
            <a routerLink="/blogs/details" class="tag">Special</a>

            <ul>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-user-3-line"></i>
                  Jonathan
                </a>
              </li>
              <li>
                <i class="ri-calendar-line"></i>
                15 May, 2022
              </li>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-chat-3-line"></i>
                  No comment
                </a>
              </li>
            </ul>

            <h3>
              <a routerLink="/blogs/details">How to live a healthy life without pain or disease</a>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-blog">
          <a routerLink="/blogs/details">
            <img src="assets/images/blog/blog-2.jpg" alt="Image">
          </a>

          <div class="blog-content">
            <a routerLink="/blogs/details" class="tag">Health</a>

            <ul>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-user-3-line"></i>
                  Stevens
                </a>
              </li>
              <li>
                <i class="ri-calendar-line"></i>
                16 May, 2022
              </li>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-chat-3-line"></i>
                  No comment
                </a>
              </li>
            </ul>

            <h3>
              <a routerLink="/blogs/details">Why would I give up all bad habits to stay good</a>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-blog">
          <a routerLink="/blogs/details">
            <img src="assets/images/blog/blog-3.jpg" alt="Image">
          </a>

          <div class="blog-content">
            <a routerLink="/blogs/details" class="tag">First Aid</a>

            <ul>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-user-3-line"></i>
                  Leonard
                </a>
              </li>
              <li>
                <i class="ri-calendar-line"></i>
                17 May, 2022
              </li>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-chat-3-line"></i>
                  No comment
                </a>
              </li>
            </ul>

            <h3>
              <a routerLink="/blogs/details">Everyone's home must have a first aid kit</a>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-blog">
          <a routerLink="/blogs/details">
            <img src="assets/images/blog/blog-4.jpg" alt="Image">
          </a>

          <div class="blog-content">
            <a routerLink="/blogs/details" class="tag">Treatment</a>

            <ul>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-user-3-line"></i>
                  Kevin
                </a>
              </li>
              <li>
                <i class="ri-calendar-line"></i>
                18 May, 2022
              </li>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-chat-3-line"></i>
                  No comment
                </a>
              </li>
            </ul>

            <h3>
              <a routerLink="/blogs/details">The importance of personal treatment</a>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-blog">
          <a routerLink="/blogs/details">
            <img src="assets/images/blog/blog-5.jpg" alt="Image">
          </a>

          <div class="blog-content">
            <a routerLink="/blogs/details" class="tag">Health</a>

            <ul>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-user-3-line"></i>
                  Katherine
                </a>
              </li>
              <li>
                <i class="ri-calendar-line"></i>
                19 May, 2022
              </li>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-chat-3-line"></i>
                  No comment
                </a>
              </li>
            </ul>

            <h3>
              <a routerLink="/blogs/details">The words of the doctor increase the morale of the patient</a>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-blog">
          <a routerLink="/blogs/details">
            <img src="assets/images/blog/blog-6.jpg" alt="Image">
          </a>

          <div class="blog-content">
            <a routerLink="/blogs/details" class="tag">First Aid</a>

            <ul>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-user-3-line"></i>
                  Charles
                </a>
              </li>
              <li>
                <i class="ri-calendar-line"></i>
                20 May, 2022
              </li>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-chat-3-line"></i>
                  No comment
                </a>
              </li>
            </ul>

            <h3>
              <a routerLink="/blogs/details">The success of the treatment of stroke patients</a>
            </h3>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>