<div class="page-banner-area bg-22 pt-100">
  <div class="container">
    <div class="page-banner-content">
      <h2>My Account</h2>
      <ul>
        <li>
          <a routerLink="/">
            <i class="ri-home-8-line"></i>
            Home
          </a>
        </li>
        <li>
          <span>Register</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="my-account-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <form class="login-register-form-area" [formGroup]="registerForm" (ngSubmit)="onRegisterUser()">
          <h2>Register</h2>
          <div class="form-group mb-1">
            <label>USERNAME</label>
            <input type="text" class="form-control" placeholder="Ali Ahmed" formControlName="fullName">
          </div>
          <div class="fs-12 text-danger">
            <div *ngIf="submitted && f['fullName'].errors">
              <div *ngIf="f['fullName'].errors['required']"> Name is required </div>
            </div>
          </div>

          <div class="form-group mb-1 mt-4">
            <label>EMAIL</label>
            <input type="email" formControlName="patientEmail" class="form-control" placeholder="info@meditro.com">
          </div>
          <div class="fs-12 text-danger">
            <div *ngIf="submitted && f['patientEmail'].errors">
              <div *ngIf="f['patientEmail'].errors['required']"> Email is required </div>
              <div *ngIf="f['patientEmail'].errors['email']"> Email is invalid </div>
            </div>
          </div>

          <div class="form-group mb-1 mt-4">
            <label>Phone Number</label>
            <input type="number" formControlName="patientPhone" class="form-control" placeholder="010123456789">
          </div>
          <div class="fs-12 text-danger">
            <div *ngIf="submitted && f['patientPhone'].errors">
              <div *ngIf="f['patientPhone'].errors['required']"> Phone is required </div>
            </div>
          </div>

          <div class="form-group mb-1 mt-4">
            <label>PASSWORD</label>
            <input type="text" formControlName="patientPassword" class="form-control" placeholder="******">
          </div>
          <div class="fs-12 text-danger">
            <div *ngIf="submitted && f['patientPassword'].errors">
              <div *ngIf="f['patientPassword'].errors['required']"> Password is required </div>
            </div>
          </div>


          <div class="d-flex align-items-center justify-content-center mt-4">
            <button type="submit" class="default-btn me-3">
              Register now
            </button>
            <p>
              Don’t have an account? <u> <a routerLink="/auth/login">Login</a></u>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
