<div class="page-banner-area bg-22 pt-100">
  <div class="container">
    <div class="page-banner-content">
      <h2>My Account</h2>
      <ul>
        <li>
          <a href="index.html">
            <i class="ri-home-8-line"></i>
            Home
          </a>
        </li>
        <li>
          <span>My Account</span>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="my-account-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <form class="login-register-form-area login">
          <h2>Login</h2>
          <div class="form-group">
            <label>EMAIL</label>
            <input type="email" class="form-control" placeholder="info@bexi.com">
          </div>
          <div class="form-group">
            <label>PASSWORD</label>
            <input type="text" class="form-control" placeholder="******">
          </div>

          <div class="form-group">
            <div class="forgot d-flex justify-content-between align-items-center">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Remember me
                </label>
              </div>
              <div class="form-check">
                <a href="my-account.html">Forgot password ?</a>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-center">
            <button type="submit" class="default-btn me-3">
              Login
            </button>
            <p>Don’t have an account? <a href="my-account.html">Register now</a></p>
          </div>
        </form>
      </div>

      <div class="col-lg-6">
        <form class="login-register-form-area register">
          <h2>Register</h2>
          <div class="form-group">
            <label>USERNAME</label>
            <input type="text" class="form-control" placeholder="info@bexi.com">
          </div>
          <div class="form-group">
            <label>EMAIL</label>
            <input type="email" class="form-control" placeholder="info@bexi.com">
          </div>
          <div class="form-group">
            <label>PASSWORD</label>
            <input type="text" class="form-control" placeholder="******">
          </div>

          <div class="form-group">
            <div class="forgot">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1">
                  I agree with the <a href="terms-conditions.html">Terms &amp; Conditions</a>
                </label>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-center">
            <button type="submit" class="default-btn me-3">
              Register now
            </button>
            <p>Don’t have an account? <a href="my-account.html">Login</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>