<div class="page-banner-area bg-2 pt-100">
  <div class="container">
    <div class="page-banner-content">
      <h2>Departments</h2>
      <ul>
        <li>
          <a routerLink="/">
            <i class="ri-home-8-line"></i>
            Home
          </a>
        </li>
        <li>
          <span>Departments</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="our-department-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span class="top-title">OUR DEPARTMENT</span>
      <h2>Our hospital has all kinds of departments, so you can get all kinds of treatment</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-3 col-md-6" *ngFor="let department of departments">
        <div class="single-our-department">
          <img src="{{department.deparment_image}}" alt="Image">

          <div class="department-content one">
            <h3 class="text-white">
              {{department.deparment_name}}
            </h3>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3 class="text-white">
              {{department.deparment_name}}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
