<div class="page-banner-area bg-2 pt-100">
  <div class="container">
    <div class="page-banner-content">
      <h2>Departments</h2>
      <ul>
        <li>
          <a routerLink="/">
            <i class="ri-home-8-line"></i>
            Home
          </a>
        </li>
        <li>
          <span>Departments</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="our-department-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span class="top-title">OUR DEPARTMENT</span>
      <h2>Our hospital has all kinds of departments, so you can get all kinds of treatment</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-1.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Dental
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Dental
              </a>
            </h3>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-2.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Orthopedics
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Orthopedics
              </a>
            </h3>
            <p></p>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <p></p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-3.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Neurosciences
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Neurosciences
              </a>
            </h3>
            <p></p>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <p></p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-4.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Cancer care
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Cancer care
              </a>
            </h3>
            <p></p>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <p></p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-5.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Gastroenterology
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Gastroenterology
              </a>
            </h3>
            <p></p>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <p></p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-6.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Medicine
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Medicine
              </a>
            </h3>
            <p></p>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <p></p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-7.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Cardiology
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Cardiology
              </a>
            </h3>
            <p></p>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <p></p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-8.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Surgery
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Surgery
              </a>
            </h3>
            <p></p>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <p></p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-9.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Pediatrics
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Pediatrics
              </a>
            </h3>
            <p></p>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <p></p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-10.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                ENT
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                ENT
              </a>
            </h3>
            <p></p>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <p></p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-11.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Physiotherapy
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Physiotherapy
              </a>
            </h3>
            <p></p>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <p></p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-12.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Dermatology
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Dermatology
              </a>
            </h3>
            <p></p>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <p></p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
