<div class="hero-area">
  <swiper class="hero-slide" [config]="config">
    <ng-template swiperSlide>
      <div class="container">
        <div class="hero-content">
          <h1>Our strength is your well-being</h1>
          <p>Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non
            nisi.</p>
          <div class="hero-btn">
            <a href="about-us.html" class="default-btn">Learn more</a>
            <a href="contact-us.html" class="default-btn active">Contact us</a>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide class="bg-2">
      <div class="container">
        <div class="hero-content">
          <h1>Our strength is your well-being</h1>
          <p>Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non
            nisi.</p>
          <div class="hero-btn">
            <a href="about-us.html" class="default-btn">Learn more</a>
            <a href="contact-us.html" class="default-btn active">Contact us</a>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide class="bg-3">
      <div class="container">
        <div class="hero-content">
          <h1>Our strength is your well-being</h1>
          <p>Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non
            nisi.</p>
          <div class="hero-btn">
            <a href="about-us.html" class="default-btn">Learn more</a>
            <a href="contact-us.html" class="default-btn active">Contact us</a>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>


<!-- start our-department-area -->
<div class="our-department-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span class="top-title">OUR DEPARTMENT</span>
      <h2>Our hospital has all kinds of departments, so you can get all kinds of treatment</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-1.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Dental
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Dental
              </a>
            </h3>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-2.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Orthopedics
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Orthopedics
              </a>
            </h3>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-3.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Neurosciences
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Neurosciences
              </a>
            </h3>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-4.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Cancer care
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Cancer care
              </a>
            </h3>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-5.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Gastroenterology
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Gastroenterology
              </a>
            </h3>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-6.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Medicine
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Medicine
              </a>
            </h3>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-7.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Cardiology
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Cardiology
              </a>
            </h3>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="single-our-department">
          <img src="assets/images/department/department-8.jpg" alt="Image">

          <div class="department-content one">
            <h3>
              <a href="department-orthopedics.html">
                Surgery
              </a>
            </h3>

            <p>Pellentesque nec, egestas non nisi. Sed porttitor lectus nibh.</p>
          </div>

          <div class="department-content hover">
            <div class="icon">
              <i class="flaticon-fracture"></i>
            </div>
            <h3>
              <a href="department-orthopedics.html">
                Surgery
              </a>
            </h3>
            <p>Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor
              lectus nibh.</p>
            <a href="department-orthopedics.html" class="read-more">
              Read More
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- start solution-area -->
<div class="solution-area bg-color-f8f9fa pt-100 pb-70">
  <div class="container">
    <div class="section-title solution-title">
      <span class="top-title">SOLUTION</span>
      <h2>Some easy steps to get your proper solution</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6">
        <div class="single-solution">
          <div class="icon">
            <span>1</span>
            <i class="bi bi-binoculars"></i>
          </div>
          <h3>Search doctor</h3>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-solution">
          <div class="icon">
            <span>2</span>
            <i class="flaticon-search-1"></i>
          </div>
          <h3>Check doctor profile</h3>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-solution">
          <div class="icon">
            <span>3</span>
            <i class="bi bi-calendar3"></i>
          </div>
          <h3>Doctor appointment</h3>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-solution">
          <div class="icon">
            <span>4</span>
            <i class="flaticon-think"></i>
          </div>
          <h3>Get first solution</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- team area start -->
<div class="our-team-area pt-100 pb-70">
  <div class="container">
    <div class="section-title team-title">
      <span class="top-title">OUR SPECIALISTS</span>
      <h2>We have all the professional specialists in our hospital</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6">
        <div class="single-team">
          <img src="assets/images/team/team-1.jpg" alt="Image">
          <h3>
            <a href="find-a-doctor.html">Glenn Arredondo</a>
          </h3>
          <span>Family Physicians</span>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-team">
          <img src="assets/images/team/team-2.jpg" alt="Image">
          <h3>
            <a href="find-a-doctor.html">Dorthy Winters</a>
          </h3>
          <span>Gastroenterologists</span>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-team">
          <img src="assets/images/team/team-3.jpg" alt="Image">
          <h3>
            <a href="find-a-doctor.html">Christopher Perreault</a>
          </h3>
          <span>Medicine Specialists</span>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-team">
          <img src="assets/images/team/team-4.jpg" alt="Image">
          <h3>
            <a href="find-a-doctor.html">Linda Flores</a>
          </h3>
          <span>Gynecologists</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  blog start -->
<div class="blog-area bg-color-f8f9fa pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span class="top-title">BLOG POST</span>
      <h2>See our latest blog post</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-blog">
          <a routerLink="/blogs/details">
            <img src="assets/images/blog/blog-1.jpg" alt="Image">
          </a>

          <div class="blog-content">
            <a routerLink="/blogs/details" class="tag">Special</a>

            <ul>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-user-3-line"></i>
                  Jonathan
                </a>
              </li>
              <li>
                <i class="ri-calendar-line"></i>
                15 May, 2022
              </li>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-chat-3-line"></i>
                  No comment
                </a>
              </li>
            </ul>

            <h3>
              <a routerLink="/blogs/details">How to live a healthy life without pain or disease</a>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-blog">
          <a routerLink="/blogs/details">
            <img src="assets/images/blog/blog-2.jpg" alt="Image">
          </a>

          <div class="blog-content">
            <a routerLink="/blogs/details" class="tag">Health</a>

            <ul>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-user-3-line"></i>
                  Stevens
                </a>
              </li>
              <li>
                <i class="ri-calendar-line"></i>
                16 May, 2022
              </li>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-chat-3-line"></i>
                  No comment
                </a>
              </li>
            </ul>

            <h3>
              <a routerLink="/blogs/details">Why would I give up all bad habits to stay good</a>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-blog">
          <a routerLink="/blogs/details">
            <img src="assets/images/blog/blog-3.jpg" alt="Image">
          </a>

          <div class="blog-content">
            <a routerLink="/blogs/details" class="tag">First Aid</a>

            <ul>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-user-3-line"></i>
                  Leonard
                </a>
              </li>
              <li>
                <i class="ri-calendar-line"></i>
                17 May, 2022
              </li>
              <li>
                <a routerLink="/blogs/details">
                  <i class="ri-chat-3-line"></i>
                  No comment
                </a>
              </li>
            </ul>

            <h3>
              <a routerLink="/blogs/details">Everyone's home must have a first aid kit</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- knock-us-area start-->
<div class="knock-us-area bg-color-0057b8 ptb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="knock-us-content">
          <h3 class="text-white">Knock us out today to get medical services</h3>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="knock-us-btn">
          <a href="appointment.html" class="default-btn active">Book an appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>