<div class="footer-area bg-color-f1f5f8 pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <a routerLink="/" class="logo">
            <img src="assets/images/logo.png" class="main-logo" alt="logo">
            <img src="assets/images/white-logo.png" class="white-logo" alt="logo">
          </a>
          <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie.</p>
          <h4>177 Devon Lane Miami, MK 3355</h4>
          <ul class="info">
            <li>
              <span>EMAIL US:</span>
              <a href="mailto:info@meditro.com">info@meditro.com</a>
            </li>
            <li>
              <span>CALL US:</span>
              <a href="tel:1-885-665-2022">1-885-665-2022</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h3>Departments</h3>

          <ul class="import-link">
            <li>
              <a href="department.html">
                <i class="bi bi-chevron-right"></i>
                Emergency Departments
              </a>
            </li>
            <li>
              <a href="department-orthopedics.html">
                <i class="bi bi-chevron-right"></i>
                Orthopedics
              </a>
            </li>
            <li>
              <a href="department.html">
                <i class="bi bi-chevron-right"></i>
                Neurosciences
              </a>
            </li>
            <li>
              <a href="department.html">
                <i class="bi bi-chevron-right"></i>
                Gastroenterology
              </a>
            </li>
            <li>
              <a href="department.html">
                <i class="bi bi-chevron-right"></i>
                Bariatric Surgery
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h3>Helpful Links</h3>

          <ul class="import-link">
            <li>
              <a href="find-a-doctor.html">
                <i class="bi bi-chevron-right"></i>
                Find a Doctor
              </a>
            </li>
            <li>
              <a href="hospital.html">
                <i class="bi bi-chevron-right"></i>
                Find a Hospital
              </a>
            </li>
            <li>
              <a href="products.html">
                <i class="bi bi-chevron-right"></i>
                Buy Medicine
              </a>
            </li>
            <li>
              <a href="terms-conditions.html">
                <i class="bi bi-chevron-right"></i>
                Terms of Use
              </a>
            </li>
            <li>
              <a href="privacy-policy.html">
                <i class="bi bi-chevron-right"></i>
                Privacy Policy
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h3>Subscribe Our Newsletter</h3>

          <form class="newsletter-form" data-toggle="validator" novalidate="true">
            <input type="email" class="form-control" placeholder="Email address" name="EMAIL" required="" autocomplete="off">

            <button class="default-btn disabled" type="submit" style="pointer-events: all; cursor: pointer;">
              Submit now
            </button>

            <div id="validator-newsletter" class="form-result"></div>
          </form>

          <ul class="socila-link">
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <img src="assets/images/svg-icon/facebook.svg" alt="Image">
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <img src="assets/images/svg-icon/twitter.svg" alt="Image">
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <img src="assets/images/svg-icon/linkedin.svg" alt="Image">
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <img src="assets/images/svg-icon/instagram.svg" alt="Image">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
