<div class="page-banner-area bg-2 pt-100">
  <div class="container">
    <div class="page-banner-content">
      <h2>Appointment</h2>
      <ul>
        <li>
          <a routerLink="/">
            <i class="ri-home-8-line"></i>
            Home
          </a>
        </li>
        <li>
          <span>Appointment</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="appointment-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 p-0">
        <div class="appointment-img">
          <h3>Help us get the treatment you need</h3>
        </div>
      </div>
      <div class="col-lg-7 p-0">
        <div class="appointment-form">
          <h2>Make An Appointment</h2>

          <form>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label>NAME</label>
                  <input type="text" class="form-control" placeholder="Craig McNutt">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label>CHOOSE DOCTOR NAME</label>
                  <select class="form-select form-control" aria-label="Default select example">
                    <option selected="">Barbara Ybarra</option>
                    <option value="1">Ybarra Daek</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label>EMAIL</label>
                  <input type="email" class="form-control" placeholder="meditro@gmail.com">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label>SELECT DEPARTMENT</label>
                  <select class="form-select form-control" aria-label="Default select example">
                    <option selected="">Cardiologists</option>
                    <option value="1">Medicine</option>
                    <option value="2">Cardiology</option>
                    <option value="3">Surgery</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label>PHONE</label>
                  <input type="text" class="form-control" placeholder="***********">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label>DATE</label>
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label>APPOINTMENT NOTE</label>
                  <textarea class="form-control" cols="30" rows="6" placeholder="write your note here..."></textarea>
                </div>
              </div>

              <div class="col-lg-12">
                <button type="submit" class="default-btn active">
                  Make an appointment
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
